@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}








body
{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    background-color: hsl(30, 38%, 92%); /*cream */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.main-container
{
    margin: auto;
    padding: 10px;
}

.table
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    overflow: hidden;
    border-radius: 15px;
}

.parfum-image img 
{
    display: inherit;
    max-width: 100%;

}

.right-column
{
    display: flex;
    flex-direction: column;
    padding:35px;
    justify-content: space-between;
}

h5.parfum-header
{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);/*dark greysh blue*/
    font-size: 13px;

}

h1.parfum-title
{
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
    
}

.parfum-description
{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.price
{
    display:flex;
    align-items: center;
}

p.parfum-new-price
{
    font-family: 'Fraunces',serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    padding-right: 25px;
}

p.parfum-old-price
{
    font-family: 'Fraunces',serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}


button.shopping-card-button
{
    background-color: hsl(158, 36%, 37%);
    border:none;
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor:pointer;
    transition:  background-color .3s ease;
    width: 100;
}

button.shopping-card-button:hover
{
    background-color: hsl(158, 36%, 23%);
}


.attribution
{
    font-family: 'Fraunces',serif;
    color: hsl(158, 36%, 37%);
    font-size: 10px;
    padding-right: 10px;
}


@media only screen and (max-width: 375px)
{
    .container{
        margin: 15px auto;
        padding: 0 15px;
    }

    .parfum-img img
    {
        max-height: 290px;
        
    }

    .right-container
    {
        padding: 24px;
    }
    h5.parfum-header, h1.parfum-title, p.parfum-description, .price,.attribution
    {
        padding-bottom: 10px;
    }
    h1.parfum-title
    {
        font-size: 28px;
    }
    p.parfum-description
    {
        font-size: 22px;
    }

    button.shopping-card-button
    {
        padding: 12px 0 ;
        font-size: 13px;
    }
}


@media only screen and (max-width: 628px)
{
    .table{
    grid-template-columns:  1fr;
    }
    .parfum-image img 
    {
        max-height: 450px;
        width:100%;
        object-fit: cover;

    }

    .right-column
    {
        display: block;
    }
    h5.parfum-header, h2.parfum-title, p.parfum-description, .price, .attribution
    {
        padding-bottom: 20px;
    }
}


